.about {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color:rgba(10, 10, 10, 0.1);
  padding: 200px 0;
  gap: 40px;
}
.about .info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px 60px;
  background-color: rgba(10, 10, 10, 0.3);
  margin-left: 20px;
}
.about h1,
.menu h1 {
  font-size: 2rem;
  color: black;
}
.about p {
  line-height: 1.6;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: var(--primary-color1);
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}
.about-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding:0 60px;
}
.about-images img {
  width: 80%;
  rotate: 5deg;
  margin: 0 auto;
}
.simg {
  transform: rotate(-10deg);
}
