.login {
  background-color: var(--primary-color1);
  height: calc(100svh - 70px);
}


.login-form {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-end;
  padding: 20px 0;
  border: none;
}

div.input-group.sub-btn{
  margin-top: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .f-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

label{
  display: flex;
  justify-content: flex-start;
}


input{
  /* background-color: var(--primary-color1); */
  width:200px;
  padding: 5px 0;
  outline: none;
  font-size: 1.3rem;
}

input[type='submit']{
  background-color: rgb(243, 186, 44);
  border: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
}

input[type='submit']:hover{
  background-color: white;
  border: 1px solid #333;
  
}

.input-group{
  display: flex;
  flex-direction: column;
  margin: 5px auto;
}

