.login {
  position: relative;
  top:70px;
  background-color: var(--primary-color1);
  height: calc(100svh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
div.input-group.sub-btn {
  margin-top: 30px;
}

input {
  width: 290px;
  padding: 10px 0;
  outline: none;
  font-size: 1.3rem;
  border-radius: 25px;
  border: none;
}
input[type="submit"] {
  /* width:290px; */
  background-color: rgb(243, 186, 44);
  border: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 25px;
  font-size: 1.5rem;
}
input[type="submit"]:hover {
  background-color: white;
  border: 1px solid #333;
}
