.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 0;
  /* background-image: url("https://source.unsplash.com/photography-of-lemon-cw1MAVs4wV8"); */
  background-image: url("https://source.unsplash.com/pasta-dish-on-brown-plate-4J059aGa5s4");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 100px;
  /* transform: scaleY( -1); */
}

.lunch-dinner-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #eae2b7;
  opacity: 0.8;
  padding: 20px;
  border-radius: 20px;
}

.lunchDinner-heading {
  background-color: #eae2b7;
}
.lunchDinner-heading h2 {
  color: #495e57;
}
.lunch-dinner-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}
