.reservations {
  position: relative;
  top: 70px;
  background-image: url("https://source.unsplash.com/variety-of-sliced-fruits-08bOYnH_r_E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100svh - 70px);
  width: 100%;
  opacity: 0.8;
}

.rese {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  width: 290px;
}

.reservations input {
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #e0e5e5;
  width: 100%;
  padding: 10px 0;
  margin: 10px;
  font-size: 1.3rem;
  border-radius: 10px;
}
.reservations input[type="submit"] {
  padding: 10px 0;
  font-size: 1.5rem;
  margin-top: 20px;
}

.reservations input[type="submit"]:hover {
  background-color: var(--primary-color1);
  border: none;
}

input::placeholder {
  color: #333;
  padding-left: 10px;
}
