:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
}
.container{
  max-width: 1200px;
  margin:0;
  padding: 0 60px;
}

form {
  width: 300px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #f4ce14;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  
}
.btn:hover, .order-button:hover{
  color:#f4ce14;
  background-color: black;
  
}
.navigation {
  width:100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000000;
}
.nav-menu {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  margin: 0;
  gap: 100px;
}
.nav-menu img {
  height: 50px;
  grid-area: span / 4;
}

.nav-items {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav-items.visible {
  display: grid;
  justify-content: center;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #495e57;
  opacity: .8;
  z-index: 1000000;
  padding: 20px 0;
  gap: 20px;
}

.nav-items li a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-items li a.active {
  color: #f4ce14;
  position: relative;
}

.nav-items li a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #333;
  width: 100%;
  height: 2px;
}
.menu-icon {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
}

.bar {
  width: 30px;
  border: 2.5px solid #333333;
  margin: 4px;
}

form {
  width: 100%;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 20px 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-group {
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.banner-section {
  background-image: url("https://source.unsplash.com/vegetable-dish-in-white-ceramic-bowl-Ww8eQWjMJWk");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.banner {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100svh - 70px);
  background-color: #495e57;
  opacity: .7;
}

.banner-text, .banner-btn{
  width:50%;
}

.banner h1 {
  color: #495e57;
  text-shadow: 50px 0px 40px rgb(255,255,255),
  -50px 0px 40px rgb(255,255,255);
  font-size: 4rem;
}
.banner h3,
p {
  color: rgb(180, 174, 174);
}

.banner p {
  font-weight: 500;
  margin: 20px 0;
  font-size: 1.1rem;
}

.banner a, .highlights-heading a {
  font-size: 1rem;
  color: #333333;
  font-weight: 800;
}


.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 0;
  /* background-image: url("https://source.unsplash.com/photography-of-lemon-cw1MAVs4wV8"); */
  background-image: url("https://source.unsplash.com/pasta-dish-on-brown-plate-4J059aGa5s4");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 100px;
  /* transform: scaleY( -1); */

}

.lunch-dinner-menu{
  display: flex;
  flex-direction: column;
  gap:20px;
  background-color: #eae2b7;
  opacity: .8;
  padding:20px;
  border-radius: 20px;
}

.lunchDinner-heading{
  background-color: #eae2b7;
}
.lunchDinner-heading h2{
  color:#495e57
}
.lunch-dinner-item{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background-color: #fff;
  padding:20px;
  border-radius: 10px;
  color:#333;
}



.about {
  height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #eae2b7;
  padding: 50px 40px;
  gap: 40px;
  opacity: .9;
}
.about .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  background-color: #eae2b7;
}

.about h1,
.menu h1 {
  font-size: 2rem;
  color:black;
}

.about p {
  /* width: 70%; */
  line-height: 1.4;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.about-images img {
  width: 80%;
  rotate: 5deg;
  margin-right: 30px;
}
.simg {
  transform: rotate(-10deg);
}

.about-images {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: 10px 2px 10px rgba(10, 12, 12, 0.5);
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.menu ul {
  list-style-type: none;
  margin: 20px 0;
}
.menu ul li {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

.reservations {
  background-image: url("https://source.unsplash.com/variety-of-sliced-fruits-08bOYnH_r_E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100svh - 70px);
  width: 100%;
  opacity: .8;
}

.rese{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 300px;
  box-shadow: 10px 5px 10px rgba(128, 88, 232, 0.1),
  -10px -5px 10px rgba(3,3 ,3, .1);
  border-radius: 20px;
}


.reservations div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  
}
.reservations label {
  width: 130px;
  text-align: left;
}

.reservations input {
  width: 150px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #495e57;
  /* background-color: #ee9972; */
}

.form-submit-btn input{
  margin-top: 30px;
  padding: 10px 14px;
  background-color: #f4ce14;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all 400ms ease-in-out;
}
.form-submit-btn input:hover{
  color:white;
  background-color: black;
  box-shadow: 10px 5px 10px rgba(128, 88, 232, 0.1),
  /* box-shadow: 10px 2px 10px rgba(248, 143, 94, 0.1); */
}

.footer {
  position: relative;
  bottom: 0;
  height:250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
}

.logo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;


}
.logo p, .contact p{
  color:#333;
}

.footer-nav-items{
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  
}

.footer-nav-items li a, .s-btn{
  text-decoration: none;
  color:black;
  font-weight: 500;
  
}

.footer-nav-items li a{
  transition: all 400ms ease-in-out;
}

.footer-nav-items li a:hover {
  text-decoration: 2px solid black underline ;
  
}

.s-btn{
  background-color: rgb(169, 169, 173);
  width:60%;
  padding:10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: black;
  transition: all 400ms ease-in-out;
}

.s-btn:hover{
  color:  rgb(169, 169, 173);
  background-color: black;

}



.contact-info{
  margin-top: 15px;
}

.social-media{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlights-heading {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.online-menu-button {
  padding: 14px 20px;
  background-color: #f4ce14;
  border: none;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 10px;
}

.highlights {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc(100svw / 4));
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.recepie {
  background-color: #fbdabb;
  border-radius: 10px;
  padding-bottom: 20px;
}
.recepie p {
  color: #333;
  margin: 10px 0;
}
.recepie-image {
  width: 100%;
}

.description {
  margin: 10px;
}
.description h4,
.description h6 {
  margin-top: 10px;
}

.order-button {
  padding: 10px 20px;
  border: none;
  background-color: #f4ce14;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}





.reviews{
  margin-top: 50px;
  background-color: #495e57;
  padding:50px 0;
}
.reviews > h1{
  text-align: center;
  font-size: 2.6rem;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;

}
.testimonials {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  height:auto;
  
}
.testimonial{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 15px;
  background-color: #f4ce14;
  box-shadow: 5px 3px 5px rgba(10, 12, 12, 0.5);
  border-radius: 10px;
}
.review-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-bottom: 20px;
}

.review-image {
  width: 60%;
  height:150px;
  border-radius: 70%;
}
.review-description p{
  color: #333;
  font-weight: 500;
  margin-top: 30px;
}
/* responsive web */
@media (max-width: 915px) {
  .nav-items {
    visibility: none;
    position: absolute;
    top:-100px;
  }
  .nav-items li a{
    color:#fff;
  }
  .menu-icon {
    position: relative;
    visibility: visible;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
  }
   .banner h1{
    font-size: 3.5rem;
   }
 

  .highlights {
    grid-template-columns: repeat(2, 2fr);
  }

  .testimonial{
    width:280px;
    height: 430px;

  }
  .testimonials {
    margin-top: 50px;
    height: auto;
    grid-template-columns: repeat(2, calc(100svw / 3));
    overflow: hidden;
    
  }


.about {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ee9972;
  gap: 40px;
}
.about-images{
  position:relative;
  top: -100px;
  opacity: .1;
  background-color: none;
}
 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}
.highlights-heading{
  display: grid;
  justify-content: center;
  gap: 20px;
}
.highlights-heading .btn{
  text-align: center;
}

.footer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  height: auto;
  padding: 50px;
}
}

@media(max-width:788px){
 
  .banner-text{
    width:70%;
  }
  .banner h1{
    font-size: 2.2rem;
   }
  .highlights {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonial{
    width: 70svw;
    height:430px;
    height: auto;
  }
  .testimonials {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
    
  }
  .highlights-heading{
    padding:0 10px;
  }
  
  .highlights-heading h1{
    font-size: 2rem;
    text-align: center;
  }
  .footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    height: auto;
    /* padding: 50px; */
  }

}

@media (min-width:290px) and (max-width:500px){
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    margin:0;
  }
  .banner-text{
    width:100%;
  }
 
  .banner-btn{
    width: 100%;
  }

}
