:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
}

#root {
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.App {
  margin: 0 auto;
  font-size: 2rem;
}
.card {
  height: calc(100svh - 70px);
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color1);
}
form {
  width: 300px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #f4ce14;
  padding: 10px;
  border-radius: 5px;
}
.navigation {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000000;
}
.nav-menu {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  margin: 0 auto;
  gap: 100px;
}
.nav-menu img {
  height: 50px;
  grid-area: span / 4;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  margin: 0 auto;
}

.nav-items.visible {
  display: grid;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #495e57;
  z-index: 1000000;
  padding: 20px 0;
  gap: 20px;
}

.nav-items li a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-items li a.active {
  color: #f4ce14;
  position: relative;
}

.nav-items li a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #333;
  width: 100%;
  height: 2px;
}
.menu-icon {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
}

.bar {
  width: 30px;
  border: 2.5px solid #333333;
  margin: 4px;
}

form {
  width: 100%;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 20px 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-group {
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.banner-section {
  background-color: #495e57;
}
.banner {
  display: flex;
  margin: 0 auto;
  padding: 30px;
}

.banner-text {
  width: calc(1020px / 2.5);
}

.banner h1 {
  color: var(--primary-color2);
  font-size: 2.5rem;
}
.banner h3,
p {
  color: #edefee;
}

.banner p {
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.6;
  font-size: 1.3rem;
}

.banner a {
  font-size: 1rem;
  color: #333333;
  font-weight: 800;
}
.banner-image {
  position: absolute;
  width: 230px;
  right: 250px;
  top: 100px;
}
.banner-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.reserve-btn input {
  padding: 12px 16px;
  /* margin-top: 20px; */
  background: #495e57;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  color: white;
  padding: 100px 0;
  /* height: 1000px; */
  /* padding-top: 40px; */
}

.about {
  height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ee9972;
  padding: 20px 40px;
  margin: 50px auto;
  gap: 40px;
}
.about .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
}

.about h1,
.menu h1 {
  font-size: 2rem;
  color: #333;
}

.about p {
  /* width: 70%; */
  line-height: 1.4;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.about-images img {
  width: 80%;
  rotate: 5deg;
  margin-right: 30px;
}
.simg {
  transform: rotate(-10deg);
}

.about-images {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: 10px 2px 10px rgba(10, 12, 12, 0.5);
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.menu ul {
  list-style-type: none;
  margin: 20px 0;
}
.menu ul li {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

.reservations {
  background-image: url("https://source.unsplash.com/variety-of-sliced-fruits-08bOYnH_r_E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100svh - 70px);
  width: 100%;
  opacity: .8;
}

.rese{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 300px;
  box-shadow: 10px 5px 10px rgba(128, 88, 232, 0.1),
  -10px -5px 10px rgba(3,3 ,3, .1);
  border-radius: 20px;
}


.reservations div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  
}
.reservations label {
  width: 130px;
  text-align: left;
}

.reservations input {
  width: 150px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #495e57;
  /* background-color: #ee9972; */
}

.form-submit-btn input{
  margin-top: 30px;
  padding: 10px 14px;
  background-color: #f4ce14;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all 400ms ease-in-out;
}
.form-submit-btn input:hover{
  color:white;
  background-color: black;
  box-shadow: 10px 5px 10px rgba(128, 88, 232, 0.1),
  /* box-shadow: 10px 2px 10px rgba(248, 143, 94, 0.1); */
}
.footer-section{
  background-color: #f4ce14;
}
.footer {
  position: relative;
  bottom: 0;
  height:250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  background-color: #f4ce14;
}

.logo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;


}
.logo p, .contact p{
  color:#333;
}

.footer-nav-items{
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
  
}

.footer-nav-items li a, .s-btn{
  text-decoration: none;
  color:black;
  font-weight: 500;
  
}

.footer-nav-items li a{
  transition: all 400ms ease-in-out;
}

.footer-nav-items li a:hover {
  text-decoration: 2px solid black underline ;
  
}

.s-btn{
  background-color: rgb(169, 169, 173);
  width:60%;
  padding:10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: black;
  transition: all 400ms ease-in-out;
}

.s-btn:hover{
  color:  rgb(169, 169, 173);
  background-color: black;

}



.contact-info{
  margin-top: 15px;
}

.social-media{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlights-heading {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.online-menu-button {
  padding: 14px 20px;
  background-color: #f4ce14;
  border: none;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 10px;
}

.highlights {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc(100svw / 4));
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.recepie {
  background-color: #fbdabb;
  border-radius: 10px;
  padding-bottom: 20px;
}
.recepie p {
  color: #333;
  margin: 10px 0;
}
.recepie-image {
  width: 100%;
}

.description {
  margin: 10px;
}
.description h4,
.description h6 {
  margin-top: 10px;
}

.order-button {
  padding: 10px 20px;
  border: none;
  background-color: #f4ce14;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.reviews{
  margin-top: 50px;
  background-color: #495e57;
  /* transform: skewX(-10deg); */
  transform: rotate(-3deg);
}
.reviews > h1{
  text-align: center;
  font-size: 2.6rem;
  transform: rotate(3deg);
  color: #fff;

}
.testimonials {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, calc(100svw / 6));
  justify-content: center;
  gap: 50px;
  align-items: center;
  transform: rotate(3deg);
  
}
.testimonial{
  padding: 20px 15px;
  background-color: #f4ce14;
  box-shadow: 5px 3px 5px rgba(10, 12, 12, 0.5);
  border-radius: 10px;
}
.review-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-bottom: 20px;
}
.review-image {
  width: 60%;
  border-radius: 70%;
}
.review-description p{
  color: #333;
  font-weight: 500;
  margin-top: 30px;
}
/* responsive web */
@media (max-width: 915px) {
  .nav-items {
    display: none;
    position: absolute;
  }
  .menu-icon {
    position: relative;
    visibility: visible;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 40px;
  }

  .banner-image {
    position: absolute;
    top: -1000px;
  }
  .banner-text {
    width: calc(100% - 80px);
    /* padding-left: 150px; */
    padding: 0;
    margin: 0 40px;
  }
  .highlights {
    grid-template-columns: repeat(2, calc(100svw / 3));
  }

  .testimonial{
    width:280px;
    height: 430px;

  }
  .testimonials {
    margin-top: 50px;
    height: auto;
    grid-template-columns: repeat(2, calc(100svw / 3));
    overflow: hidden;
    
  }


.about {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ee9972;
  padding: 20px 40px;
  margin: 50px auto;
  gap: 40px;
}
.about-images{
  position:relative;
  top: -100px;
  opacity: .1;
  background-color: none;
}
 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}
.highlights-heading{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(100svw/2));
  justify-content: center;
  height: auto;
  padding: 50px;
}
}

@media(max-width:788px){
  .highlights {
    grid-template-columns: repeat(1, calc(100svw / 1.5));
  }

  .testimonial{
    width: 70svw;
    height:430px;
    height: auto;
  }
  .testimonials {
    height: auto;
    grid-template-columns: repeat(1, calc(100svw / 1.5));
    overflow: hidden;
    
  }
  .highlights-heading{
    width: 100%;
    height: auto;
  }

  .footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    height: auto;
    /* padding: 50px; */
  }

}
