:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  max-width: 1350px;
  min-width: 290px;
  margin: 0;
  padding: 0 60px;
}

form {
  width: 300px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #f4ce14;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.order-button {
  padding: 10px 20px;
  border: none;
  background-color: #f4ce14;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover,
.order-button:hover {
  color: #f4ce14;
  background-color: black;
  cursor: pointer;
}

.form-submit-btn input {
  margin-top: 30px;
  padding: 10px 14px;
  background-color: #f4ce14;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.form-submit-btn input:hover {
  color: white;
  background-color: black;
  box-shadow: 10px 5px 10px rgba(128, 88, 232, 0.1);
}

.hl {
  background-color: rgba(73, 94, 87, 0.2);
  padding: 100px 0;
}
.highlights-heading {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.online-menu-button {
  padding: 14px 20px;
  background-color: #f4ce14;
  border: none;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 10px;
}

.highlights {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.recepie {
  background-color: #fbdabb;
  border-radius: 10px;
  padding-bottom: 20px;
}
.recepie p {
  color: #333;
  margin: 10px 0;
}
.recepie-image {
  width: 100%;
}

.description {
  margin: 10px;
}
.description h4,
.description h6 {
  margin-top: 10px;
}


